
<%= render 'shared/navbar_homepage' %>

<!-- BANNER SECTION -->
<section  class="clearfix homeBanner"  style="background-image: url(<%= asset_path 'banner/banner1.jpg' %>) ; ">  
  <div class="container">
    <div class="row">
      <div class="col   -xs-12">
        <div class="banerInfo">
          <h1>Mettons en musique</h1>
          <h1>le plus beau jour de votre vie</h1>
          <form class="form-inline" action="listing-sidebar-map-left.html" method="">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">Date</div>
                <input type="text" class="form-control" id="findItem" placeholder="Jour de votre mariage">
                <div class="input-group-addon addon-right"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">Lieu</div>
                <input type="text" class="form-control" id="nearLocation" placeholder="Dans quelle ville?">
                <div class="input-group-addon addon-right"><i class="icon-listy icon-target" aria-hidden="true"></i></div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Chercher <i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- INTEREST SECTION -->
<section class="clearfix interestArea">
  <div class="container">
    <div class="page-header text-center">
      <h2>Que recherchez vous ?</h2>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="thingsBox">
          <div class="thingsImage">
            <img src="<%= asset_path 'catego/dj.jpg' %>" alt="DJ">
              <div class="thingsMask">
                <a href="listing-details-left.html"><h2>DJ</h2></a>
              </div>
          </div>
        </div>
       </div>
      <div class="col-sm-4 col-xs-12">
        <div class="thingsBox">
          <div class="thingsImage">
            <img src="<%= asset_path 'catego/singer.jpg' %>" alt="Chanteur">
              <div class="thingsMask">
                <a href="listing-details-left.html"><h2>Chanteur</h2></a>
              </div>
          </div>
        </div>
       </div>
       <div class="col-sm-4 col-xs-12">
        <div class="thingsBox">
          <div class="thingsImage">
            <img src="<%= asset_path 'catego/band.jpg' %>" alt="Groupe">
              <div class="thingsMask">
                <a href="listing-details-left.html"><h2>Groupe</h2></a>
              </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</section>
