<%= render 'shared/navbar_without_login' %>

<section class="clearfix loginSection">
  <div class="container">
    <div class="row">
      

      <div class="modal-content center-block col-md-5 col-sm-6 col-xs-12">

        <div class="modal-header">
          <h4 class="modal-title">Se connecter</h4>
        </div>
        <div class="modal-body">

          <%= form_for(resource, as: resource_name, class: 'loginForm', url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <i class="fa fa-envelope" aria-hidden="true"></i>
                <%= f.email_field :email, class: 'form-control',placeholder: "Email", autofocus: true, autocomplete: "email" %>
            </div>
            
            <div class="form-group">
              <i class="fa fa-lock" aria-hidden="true"></i>
                  <%= f.password_field :password, class: 'form-control', placeholder: "Password", autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>

              <div class="checkbox">
                <%= f.check_box :remember_me %>
                Se souvenir de moi
                
              </div>
            <% end -%>
            
            <div class="form-group">
                <%= f.submit "Se connecter", class: 'btn btn-primary btn-block' %>
            </div> 
          <% end %>
        </div>
 

<%= render "devise/shared/links" %>


